* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none;
  cursor: pointer;
  color: black; }
  a:hover {
    color: #FF79DA; }

.fa-heart {
  color: #eaeaea;
  background: white;
  border-radius: 50%;
  padding: 0.7em; }

.fa-heart::before {
  content: "";
  font-weight: bold; }

.fa-heart:hover::before {
  background: linear-gradient(to right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  animation: fondu 1s ease-in-out; }

@keyframes fondu {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
#logo {
  display: none; }

.bouton1 {
  background: #eaeaea; }

input::placeholder {
  font-weight: bold;
  padding: 5px;
  font-weight: 600;
  color: black;
  text-align: center; }

input:focus::placeholder {
  opacity: 10%; }

input {
  border: 1px solid #eaeaea; }

article {
  margin-top: -30px;
  background: #F2F2F2;
  padding: 40px 0 30px 0;
  text-align: center; }

article .restaurant {
  text-align: left; }

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #9356DC;
  text-align: center;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out; }
  .loader-container p {
    text-align: center;
    margin-top: 200px;
    color: white; }

.loader-container.hidden {
  opacity: 0;
  visibility: hidden; }

#loader {
  position: absolute;
  display: inline-block;
  margin: 20px 0 0 -20px;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: rotation 1s ease-in-out infinite;
  -webkit-animation: rotation 1s ease-in-out infinite; }

@keyframes rotation {
  to {
    -webkit-transform: rotate(360deg); } }
@-webkit-keyframes rotation {
  to {
    -webkit-transform: rotate(360deg); } }
.position {
  display: flex;
  justify-content: center;
  padding: 2%; }
  .position a {
    color: white; }
  .position a:hover {
    color: #FF79DA; }

#conteneur1 {
  width: 100%;
  text-align: center; }

h1 {
  margin: 10px 0 10px 0;
  font-size: 45px;
  font-family: 'Shrikhand', cursive; }

.info {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0px 30px 0px;
  padding: 10px 0px 10px 0px;
  background: #eaeaea;
  box-shadow: 6px 0px 6px grey; }
  .info .fas {
    margin: -2px 0 0 -30px;
    color: black; }

h2 {
  font-size: 30px;
  text-align: center; }

h6 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding-top: 10px; }

h5 {
  font-size: 14px;
  font-weight: 400;
  margin: -5px 0 0 10px; }

#bouton {
  text-align: center;
  margin: 40px 0 40px 0;
  transform: scale(1);
  transition: transform 400ms; }
  #bouton:hover {
    transform: scale(1.15); }

.explore {
  background: linear-gradient(to right, #FF79DA, #9356DC);
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 230px;
  margin-top: 30px;
  padding: 13px 25px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #aaaaaa;
  text-decoration: none; }
  .explore:hover {
    color: white;
    background: #fface8;
    box-shadow: 6px 6px 6px #777777; }

#conteneur2 {
  width: 100%; }
  #conteneur2 p {
    text-align: center; }

.filtres {
  margin: 30px 0 0 25px; }

.filtres2 {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 50px 0; }
  .filtres2 p {
    font-size: 16px; }

.partage {
  cursor: pointer; }
  .partage .fas {
    position: absolute;
    color: grey;
    width: 50px;
    height: 50px;
    margin: 15px 0 0 40px;
    padding-top: 3px;
    text-align: center;
    line-height: 45px;
    font-size: 18px; }
  .partage p {
    border: 3px solid #F2F2F2;
    background: #F2F2F2;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #aaaaaa;
    padding: 20px 100px 20px 95px;
    margin-top: 5px;
    width: 425px; }
  .partage:hover p {
    background: #e4d5f6;
    border: 3px solid #e4d5f6; }
  .partage:hover a {
    color: black; }
  .partage:hover .fas {
    color: #9356DC; }

.etape {
  position: absolute;
  background: #9356DC;
  color: white;
  margin: 27px 0 0 -10px;
  padding-top: 3px;
  height: 25px;
  width: 25px;
  text-align: center;
  border-radius: 100px; }

#conteneur3 {
  display: flex;
  overflow: hidden;
  background: #F2F2F2;
  justify-content: space-around;
  padding: 40px 0 40px 0; }
  #conteneur3 h2 {
    text-align: center; }

#menu {
  margin: 10px 25px 10px 25px;
  border-radius: 10px;
  width: 100%; }

.dFlex {
  display: flex;
  flex-wrap: nowrap; }

.new {
  position: relative;
  padding: 5px 75px 5px 15px;
  margin: -70% 30px 0 75%;
  color: green;
  font-weight: bold;
  background: #99E2D0; }

.restaurant {
  margin: 2%;
  width: 33.33%;
  margin-left: -5px;
  border-radius: 10px;
  background: white;
  box-shadow: 6px 6px 6px #aaaaaa;
  padding: 0 0 10px 0;
  animation: cartemenu 3s; }
  .restaurant .fas {
    font-size: 25px;
    margin-left: -15px; }

@keyframes cartemenu {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }
.menu1 {
  animation: cartemenu 3s;
  animation-delay: 500ms; }

@keyframes cartemenu {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }
.menu2 {
  animation: cartemenu 3s;
  animation-delay: 1000ms; }

@keyframes cartemenu {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }
.menu3 {
  animation: cartemenu 3s;
  animation-delay: 1500ms; }

@keyframes cartemenu {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }
img {
  width: 100%;
  border-radius: 10px 10px 0px 0px; }

.fond_image {
  background: white;
  display: inline-block; }

.fond_image img {
  -moz-transition: opacity 0.7s;
  -webkit-transition: opacity 0.7s;
  -o-transition: opacity 0.7s; }

.fond_image img:hover {
  opacity: 0.5;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s; }

p {
  font-size: 18px;
  line-height: 25px;
  padding: 10px 0 10px 10px; }

.coeur {
  margin-top: -40px;
  width: 5%;
  padding-left: 85%; }

footer {
  width: 100%;
  background: #353535;
  color: white;
  padding: 20px 0 20px 0; }
  footer h4 {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Shrikhand', cursive;
    margin: 5px 0 0 5px;
    margin-bottom: 10px; }
  footer p {
    font-size: 14px;
    padding: 0; }

.pflex {
  color: white;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-left: 15px; }
  .pflexa:hover {
    color: #9356DC; }
  .pflex .fas {
    font-size: 12px;
    padding-right: 10px; }

@media screen and (max-width: 1250px) {
  .filtres2 {
    flex-wrap: wrap;
    width: 100%; }

  #menu {
    width: 90%; }

  #conteneur3 h2 {
    text-align: left;
    padding-bottom: 10px; }

  .position {
    flex-direction: column;
    align-items: flex-start; }

  .restaurant {
    height: 280px;
    margin: 2%; }

  .restaurant .fas {
    font-size: 25px;
    margin: 35px 0 0 -25px; }

  .restaurant .new {
    margin: 0 30px 0 50%;
    top: -230px; }

  .partage .fas {
    margin: 15px 0 0 30px; }

  h4 {
    padding-bottom: 10px; }

  .coeur {
    padding-left: 80%; } }
@media screen and (max-width: 950px) {
  h1 {
    font-size: 28px;
    font-family: 'Shrikhand', cursive;
    padding-top: 10px; }

  h2 {
    font-size: 20px;
    margin-bottom: 15px; }

  h6 {
    font-size: 14px; }

  .partage {
    display: table-column;
    margin: 2%; }
    .partage p {
      padding: 20px 140px 20px 75px; }

  #conteneur2 h2 {
    text-align: left; }

  .dFlex {
    flex-direction: column; }

  .restaurant {
    width: 95%;
    margin: 0 0 25px 15px;
    box-shadow: 6px 6px 6px  #aaaaaa; }
    .restaurant img {
      height: 200px; }

  .restaurant .fas {
    font-size: 25px;
    margin: -5px 0 0 -15px; }

  .restaurant .new {
    margin: 0 30px 0 70%;
    top: -250px; }

  h4 {
    margin-left: 10px; }

  .coeur {
    position: relative;
    padding-left: 85%; } }

/*# sourceMappingURL=style.css.map */
