* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none;
  cursor: pointer;
  color: black; }
  a:hover {
    color: #FF79DA; }

.position {
  display: flex;
  justify-content: center;
  padding: 2%; }
  .position a {
    color: white; }
    .position a:hover {
      color: #FF79DA; }

header {
  display: flex; }

#fleche {
  margin: 15px 0 0 20px; }

#conteneur1 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px; }
  #conteneur1 img {
    height: 50px;
    margin-left: -40px; }

#image {
  display: flex;
  width: 75%;
  background: #F2F2F2; }
  #image img {
    margin: 15%;
    width: 100%;
    max-height: 750px; }

#corps {
  display: flex; }

#conteneur2 {
  background: #F2F2F2;
  width: 100%; }
  #conteneur2 h6 {
    text-align: center;
    font-size: 30px;
    font-family: Shrikhand,cursive;
    font-weight: bold;
    padding-top: 50px; }
  #conteneur2 p {
    text-align: left; }

.far {
  position: absolute;
  margin: -25px 0 0 45%; }

h2 {
  margin: 90px 0 0 15%;
  font-size: 28px;
  font-style: italic;
  text-align: left; }
  h2:hover {
    border-bottom: 2px solid #99E2D0;
    padding-bottom: 12px; }

h5 {
  font-style: italic;
  margin-left: 5px; }

.filtres {
  margin: 30px 0 0 25px; }

.filtres2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -70px; }

.menu {
  animation: cartemenu 3s;
  animation-delay: 500ms; }

@keyframes cartemenu {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }
.menu1 {
  animation: cartemenu 3s;
  animation-delay: 1000ms; }

@keyframes cartemenu {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }
.menu2 {
  animation: cartemenu 3s;
  animation-delay: 1500ms; }

@keyframes cartemenu {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }
.partage {
  justify-content: center;
  border: 3px solid white;
  background: white;
  border-radius: 20px;
  box-shadow: 6px 6px 6px grey;
  margin: 30px 0 0 40%;
  padding: 10px 0 10px 30px;
  width: 40%;
  height: 60px;
  transition-property: left;
  -webkit-transition-property: left;
  transition-duration: .5s;
  transition-timing-function: ease-out;
  left: 0;
  position: relative; }

.partage:hover {
  left: 10px; }

.barre {
  transition: all 0.2s linear 0s;
  background-color: aquamarine;
  border-radius: 0px 20px 20px 0px;
  width: 30%;
  height: 0;
  right: 0;
  position: relative;
  right: 0;
  bottom: 0; }

.barre .fas {
  opacity: 0;
  margin-left: 40px;
  color: white; }

.prix:hover .barre {
  height: 60px;
  width: 40px;
  margin-top: -39px;
  margin-left: -10px;
  padding-right: 70px; }

.prix:hover .fas {
  opacity: 1;
  margin: 20px 0 0 0;
  padding: 0 0 0 25px;
  animation-name: turn;
  animation-duration: 1s; }

@keyframes turn {
  0% {
    transform: rotate(145deg); }
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.prix {
  position: relative;
  margin: -40px 0 0 76%; }

#conteneur3 {
  background: #F2F2F2;
  margin-top: -70px;
  padding: 20px 0 80px 0; }

#bouton {
  text-align: center;
  margin-top: 10px;
  transform: scal(1);
  transition: transform 400ms; }
  #bouton:hover {
    transform: scale(1.15); }
    #bouton:hover a:hover {
      color: white; }

.explore {
  background: linear-gradient(to right, #FF79DA, #9356DC);
  color: white;
  width: 230px;
  margin-top: 30px;
  padding: 10px 40px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px grey;
  text-decoration: none; }
  .explore:hover {
    color: white;
    background: #fface8;
    box-shadow: black; }

footer {
  width: 100%;
  background: #353535;
  color: white;
  padding: 20px 0 20px 0; }
  footer h4 {
    font-size: 14px;
    font-family: 'Shrikhand', cursive; }
  footer p {
    font-size: 14px; }

.pflex {
  color: white;
  display: flex;
  justify-content: center;
  margin: 0 20px 0 20px; }
  .pflex:hover {
    color: #FF79DA; }

.fas {
  margin-right: 10px; }

@media screen and (max-width: 1250px) {
  #conteneur1 img {
    margin: 10px 0 -10px -40px;
    height: 25px; }

  #corps {
    display: flex;
    flex-direction: column;
    width: 100%; }

  #image {
    width: 100%; }
    #image img {
      margin: 0;
      width: 100%;
      max-height: 335px; }

  #conteneur2 {
    width: 100%;
    margin-top: -60px;
    border-radius: 30px 30px 0px 0px; }
    #conteneur2 h6 {
      text-align: left;
      margin-left: 25px;
      font-size: 30px;
      font-weight: bold; }
    #conteneur2 h2 {
      text-align: left;
      font-size: 18px;
      margin: 30px 0 80px 0; }

  .far {
    margin-left: 70%; }

  .filtres2 {
    flex-wrap: wrap;
    width: 100%; }

  .partage {
    margin: 15px 0 40px 0;
    width: 95%; }
    .partage p {
      padding: 0 140px 0 5px;
      font-size: 15px;
      line-height: 20px; }

  .prix:hover .barre {
    height: 60px;
    width: 40px;
    margin-top: -49px;
    margin-left: -3px;
    padding-right: 50px; }

  .prix:hover .fas {
    padding: 0 0 0 15px; }

  .prix {
    position: relative;
    margin: -70px 0 0 85%; }

  #bouton {
    margin-top: 110px; }

  .position {
    flex-direction: column;
    align-items: flex-start;
    line-height: 30px; } }

/*# sourceMappingURL=style2.css.map */
