* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none;
  cursor: pointer;
  color: black; }
  a:hover {
    color: #FF79DA; }

h1 {
  font-size: 45px;
  font-family: 'Shrikhand', cursive;
  margin-right: 40px; }

.position {
  display: flex;
  justify-content: center;
  padding: 2%; }
  .position a {
    color: white; }
    .position a:hover {
      color: #FF79DA; }

header {
  display: flex; }

#fleche {
  margin: 15px 0 0 20px; }

#conteneur1 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px; }

#image {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #F2F2F2; }
  #image img {
    margin: 5%;
    height: 500px; }

.coeur .far {
  position: absolute;
  color: black;
  font-size: 25px;
  margin: -35px 0 0 45%; }
.coeur .far:hover::before {
  background: linear-gradient(to right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  animation: fondu 1s ease-in-out; }
@keyframes fondu {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
#placement {
  display: flex;
  background: #F2F2F2; }

#corps {
  display: flex;
  margin: 2%;
  width: 40%; }

#conteneur2 {
  background: #F2F2F2;
  width: 60%; }
  #conteneur2 h6 {
    text-align: center;
    font-size: 28px;
    font-family: Shrikhand,cursive;
    font-weight: 300;
    padding-top: 60px; }
  #conteneur2 p {
    text-align: left; }

h2 {
  margin: 150px 0 0 15%;
  font-size: 28px;
  font-weight: 200;
  text-align: left;
  border-bottom: 2px solid #99E2D0;
  padding-bottom: 12px;
  width: 50px;
  padding: 50px 0 0 0; }

h5 {
  font-weight: 100;
  margin: 5px 0 0 5px; }

.filtres {
  margin: 30px 0 0 25px; }

.filtres2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -70px; }

.menu {
  animation: cartemenu 3s;
  animation-delay: 500ms; }

@keyframes cartemenu {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }
.menu1 {
  animation: cartemenu 3s;
  animation-delay: 1000ms; }

@keyframes cartemenu {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }
.menu2 {
  animation: cartemenu 3s;
  animation-delay: 1500ms; }

@keyframes cartemenu {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }
.partage {
  justify-content: center;
  background: white;
  top: -60px;
  border-radius: 20px;
  box-shadow: 6px 6px 4px #eaeaea;
  margin: 30px 0 0 40%;
  padding: 10px 0 10px 30px;
  width: 40%;
  height: 60px;
  cursor: pointer;
  text-overflow: ellipsis;
  transition-property: left;
  -webkit-transition-property: left;
  transition-duration: .5s;
  transition-timing-function: ease-out;
  left: 0;
  position: relative; }

.partage:hover {
  left: 10px; }

.prix {
  margin: -28px 0 0 450px;
  font-weight: bold;
  transition-duration: 0.5s;
  animation: cache 0.01s; }

@keyframes cache {
  0% {
    margin: -20px 0 0 85%;
    opacity: 0; }
  100% {
    opacity: 1; } }
.barre {
  transition: all 0.3s linear 0s;
  width: 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: aquamarine;
  border-radius: 0px 10px 10px 0px; }

.barre .fas {
  opacity: 0;
  color: white;
  font-size: 22px; }

.partage:hover .barre {
  width: 18%; }

.partage:hover .prix {
  margin-left: 70%; }

.partage:hover .fas {
  opacity: 1;
  margin: 17px 0 0 30px;
  transform: rotate(360deg);
  transition-duration: 0.5s; }

#conteneur3 {
  background: #F2F2F2;
  margin-top: -70px;
  padding: 20px 0 80px 0;
  overflow: hidden; }

#bouton {
  text-align: center;
  margin-top: 10px;
  transform: scale(1);
  transition: transform 400ms; }
  #bouton:hover {
    transform: scale(1.15); }
    #bouton:hover a:hover {
      color: white; }

.explore {
  background: linear-gradient(to right, #FF79DA, #9356DC);
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 230px;
  margin-top: 30px;
  padding: 13px 48px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #aaaaaa;
  text-decoration: none; }
  .explore:hover {
    color: white;
    background: #fface8;
    box-shadow: 6px 6px 6px #777777; }

footer {
  width: 100%;
  background: #353535;
  color: white;
  padding: 20px 0 20px 0; }
  footer h4 {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Shrikhand', cursive;
    margin: 1px 0 0 5px;
    margin-bottom: 10px; }
  footer p {
    font-size: 14px;
    padding: 0; }

.pflex {
  color: white;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-left: 15px; }
  .pflexa:hover {
    color: #FF79DA; }
  .pflex .fas {
    font-size: 12px;
    padding-right: 10px; }

@media screen and (max-width: 1250px) {
  #placement {
    flex-direction: column;
    overflow: hidden; }

  h1 {
    font-size: 28px;
    font-family: 'Shrikhand', cursive;
    padding-top: 10px; }

  #corps {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0; }

  #image {
    width: 100%; }
    #image img {
      margin: 0;
      height: 400px; }

  .coeur .far {
    margin: -35px 0 0 80%; }

  #conteneur2 {
    width: 100%;
    margin-top: -60px;
    border-radius: 30px 30px 0 0; }
    #conteneur2 h6 {
      text-align: left;
      margin-left: 25px;
      font-size: 30px;
      font-weight: 300; }
    #conteneur2 h2 {
      text-align: left;
      font-size: 18px;
      margin: 30px 0 80px 0; }

  .filtres2 {
    flex-wrap: wrap;
    width: 100%; }

  .partage {
    margin: 15px 0 10px 0;
    width: 95%; }
    .partage p {
      padding: 0 140px 0 5px;
      font-size: 15px;
      line-height: 20px; }

  .prix {
    position: relative;
    margin: -20px 0 0 85%; }

  #bouton {
    margin-top: 110px; }

  .position {
    flex-direction: column;
    align-items: flex-start;
    line-height: 30px; } }

/*# sourceMappingURL=style2.css.map */
