$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: black;
	&:hover {
		color: $color-secondary;
	}
}
#loading {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-top: 20px;
	border: 3px solid #137b85;
	border-radius: 50%;
	border-top-color:$color-tertiary;
	animation: rotation 1s ease-in-out infinite;
  }
  @keyframes rotation {
	to { transform: rotate(360deg); }
  }
.position {
	display: flex;
	justify-content: center;
	padding: 2%;
	a{ 
		color: white;
	}
	a:hover
	{
		color: $color-secondary;
	}
}
#conteneur1 {
	width: 100%;
	text-align: center;
	img {
		height: 50px;
		width: 300px;
	}
}
.info {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 30px 0px 30px 0px;
	padding: 10px 0px 10px 0px;
	background: #eaeaea;
	.fas {
		margin-left: -30px;
		color: black;
	}
}
h2 {
	font-size: 30px;
	text-align: center;
}
h6 {
	font-size: 18px;
	font-style: italic;
	text-align: center;
	padding-top: 10px;
}
h5{
	font-size: 16px;
	font-style: italic;
	margin: -5px 0 0 10px;

}
article {
	margin-top: -30px;
	background: #F2F2F2;
	padding: 40px 0 30px 0;
	text-align: center;
}
#bouton {
	text-align: center;
	margin: 30px 0 30px 0;
	transform: scal(1);
	transition: transform 400ms; 
	&:hover{
		transform: scale(1.15);
	}
}
.explore {
	background:linear-gradient(to right, $color-secondary, $color-primary);
	color: white;
	width: 230px;
	margin-top: 30px;
	padding: 10px 20px;
	border-radius: 20px;
	box-shadow: 6px 6px 6px grey;
	text-decoration: none;
	&:hover{
		color:white;
		background:lighten($color-secondary, 10%);
		box-shadow: darken( black, 20%);
	}
}
#conteneur2 {
	padding-top: -10px;
	width: 100%;
	p {
		text-align: center;
	}
}
.filtres {
	margin: 30px 0 0 25px;

}
.filtres2 {
	display: flex;
	justify-content: space-around;
	margin: 20px 0 50px 0;
	p {
		font-size: 16px;
	}
}
.partage {
	.fas {
		position: absolute;
		color: grey;
		width: 50px;
		height: 50px;
		margin: 15px 0 0 20px;
		text-align: center;
		line-height: 45px;
	}
	p {
		border: 3px solid #F2F2F2;
		background: #F2F2F2;
		border-radius: 20px;
		box-shadow: 6px 6px 6px grey;
		padding: 20px 100px 20px 95px;
		margin-top: 5px;
		width: 425px;
		&:hover {
			background: lighten($color: #9356DC, $amount: 30);
			border: 3px solid lighten($color: #9356DC, $amount: 30);
			box-shadow: darken($color: grey, $amount: 30);
			a{
				color:black;
			} 
		}
	}
}
.etape {
	position: absolute;
	background:$color-primary;
	color: white;
	margin: 27px 0 0 -10px;
	height: 25px;
	width: 25px;
	text-align: center;
	line-height: -10px;
	border-radius: 100px;
}
#conteneur3 {
	display: flex;
	background: #F2F2F2;
	padding-top: 40px 0 40px 0;
	h2 {
		text-align: center;
	}
}
#menu {
	margin: 10px 25px 10px 25px;
	border-radius: 10px;
	width: 100%;
}
.dFlex {
	display: flex;
	flex-wrap: nowrap;
}
.new {
	position: absolute;
	padding: 5px 15px 5px 15px;
	margin: -240px 0 0 15%;
	color: green;
	font-weight: bold;
	background: #99E2D0;
}
.restaurant {
	margin: 2%;
	width: 33.33%;
	border: 3px solid white;
	border-radius: 10px;
	background: white;
	height: 300px;
	animation: cartemenu 3s;
		}
	@keyframes cartemenu{
		0%{
			transform:translateX(100px);
			opacity:0;
		}
		100%{
			transform:translateX(0px);
			opacity:1;
		}
	}
.menu1{
	animation: cartemenu 3s;
	animation-delay: 500ms;
		}
	@keyframes cartemenu{
		0%{
			transform:translateX(100px);
			opacity:0;
		}
		100%{
			transform:translateX(0px);
			opacity:1;
		}
}
.menu2{
	animation: cartemenu 3s;
	animation-delay: 1000ms;
		}
	@keyframes cartemenu{
		0%{
			transform:translateX(100px);
			opacity:0;
		}
		100%{
			transform:translateX(0px);
			opacity:1;
		}
}
.menu3{
	animation: cartemenu 3s;
	animation-delay: 1500ms;
		}
	@keyframes cartemenu{
		0%{
			transform:translateX(100px);
			opacity:0;
		}
		100%{
			transform:translateX(0px);
			opacity:1;
		}
}
	img {
		width: 100%;
		height: 75%;
		overflow-wrap: hidden;
		border-radius: 10px 10px 0px 0px;
	}
	p {
		font-size: 18px;
		line-height: 25px;
		padding: 10px 0 10px 10px;
	}
	
.coeur {
	margin-top: -50px;
	width: 5%;
	padding-left: 90%;
}
.far {
	color: grey;
}
footer {
	width: 100%;
	background: #353535;
	color: white;
	padding: 20px 0 20px 0;

	h4 {
		font-size: 14px;
		font-family: 'Shrikhand', cursive;
	}
	p {
		font-size: 14px;
	}
}
.pflex {
	p {
		color: white;
	}
	&:hover {
		color: $color-secondary;
	}
}
.pflex {
	display: flex;
	justify-content: center;
	margin: 0 20px 0 20px;
}
.fas {
	margin-right: 10px;
}
@media screen and (max-width: 1250px) {
	.filtres2 {
		flex-wrap: wrap;
		width: 100%;
	}
	#menu {
		width: 90%;
	}
	.new {
		margin: -220px 0 0 57%;
	}
	#conteneur3 {
		h2 {
			text-align: left;
			padding-bottom: 10px;
		}
	}
	.position {
		flex-direction: column;
		line-height: 30px;
		align-items: flex-start;
	}
	h4 {
		padding-bottom: 10px;
    }
    .fas {
		margin-top: 5px;
    }
    @media screen and (max-width:950px) {
		
    #conteneur1 img { 
        margin: 10px 0 -10px 0;
		height: 25px;
		width: 150px;}
    
    h2 {
        font-size: 20px;
        }
    h6 {
        font-size: 14px;
    }
    .partage {
        display: table-column;
        margin: 2%;
            p {
                padding: 20px 140px 20px 75px;
            }
    }
    #conteneur2 {
        h2 {
            text-align: left;
            }
    }
    .dFlex {
        flex-direction: column;
    }
    .restaurant {
        width: 95%;
        max-height: 280px;
        max-width: 550px;
        margin-bottom: 10px;
        box-shadow: 6px 6px 6px #F2F2F2;
            img {
                max-height: 200px;
                }
    }

 }
}