$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: black;
	&:hover {
		color: $color-secondary;
	}
}
.position {
	a{
		color:white;
		&:hover {
			color: $color-secondary;
		}
	}
	display: flex;
	justify-content: center;
	padding: 2%;
}
header {
	display: flex;
}
#fleche {
	margin: 15px 0 0 20px;
}
#conteneur1 {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	img {
		height: 50px;
		margin-left: -40px;
	}
}
#image {
	img {
		margin: 15%;
		width: 100%;
		max-height: 750px;
	}
	display: flex;
	width: 75%;
	background: #F2F2F2;
}
#corps {
	display: flex;
}
#conteneur2 {
	background: #F2F2F2;
	width: 100%;
	h6 {
		text-align: center;
		font-size: 30px;
		font-family: Shrikhand,cursive;
		font-weight: bold;
		padding-top: 50px;
	}
	p {
		text-align: left;
	}
}
.coeur .fas {
	position: absolute;
	margin: -25px 0 0 65%;
	color:black;
}
.coeur .fas:hover {
	color:$color-secondary;
}
h2 {
	margin: 90px 0 0 15%;
	font-size: 28px;
	font-style: italic;
	text-align: left;
	&:hover{
		border-bottom: 2px solid $color-tertiary;
		padding-bottom: 12px;
	}
}
h5{
	font-style: italic;
	margin-left: 5px;
}
.filtres {
	margin: 30px 0 0 25px;
}
.filtres2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: -70px;
}
.menu{
	animation: cartemenu 3s;
	animation-delay: 500ms;
		}
	@keyframes cartemenu{
		0%{
			transform:translateX(100px);
			opacity:0;
		}
		100%{
			transform:translateX(0px);
			opacity:1;
		}  }
		.menu1{
			animation: cartemenu 3s;
			animation-delay: 1000ms;
				}
			@keyframes cartemenu{
				0%{
					transform:translateX(100px);
					opacity:0;
				}
				100%{
					transform:translateX(0px);
					opacity:1;
				}  }
				.menu2{
					animation: cartemenu 3s;
					animation-delay: 1500ms;
						}
					@keyframes cartemenu{
						0%{
							transform:translateX(100px);
							opacity:0;
						}
						100%{
							transform:translateX(0px);
							opacity:1;
						}  }
.partage {
	justify-content: center;
	border: 3px solid white;
	background: white;
	border-radius: 20px;
	box-shadow: 6px 6px 6px grey;
	margin: 30px 0 0 40%;
	padding: 10px 0 10px 30px;
	width: 40%;
	height: 60px;
	transition-property: left;
		-webkit-transition-property: left;
		transition-duration: .5s;
		transition-timing-function: ease-out;
		left: 0;
		position: relative;
		}
		.partage:hover {
		left: 10px;
		}
.barre {
	transition: all 0.3s linear 0s;
    width: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
	background-color: aquamarine;
	border-radius: 0px 20px 20px 0px;
		  }
		  .barre .fas{
			opacity:0;
			color: white;
		  }
		  .partage:active .barre {
			width: 20%;
			 }
		  .partage:active .prix {
			margin-left:70%;
			}
		  .partage:active .fas {
			opacity:1;
			margin: 20px 0 0 0;
			padding:0 0 0 35px;
			animation-name: turn;
			animation-duration: 1s;
		  }
		  @keyframes turn{
			100%{
			  transform:rotate(360deg);
			}
		  }		

.prix {
	position: relative;
	margin: -30px 0 0 85%;
}
#conteneur3 {
	background: #F2F2F2;
	margin-top: -70px;
	padding: 20px 0 80px 0;
}
#bouton {
	text-align: center;
	margin-top: 10px;
	transform: scal(1);
	transition: transform 400ms;
	&:hover {
		transform: scale(1.15);
		a:hover{
			color: white;
		}
	}
}
.explore {
	background:linear-gradient(to right, $color-secondary, $color-primary);
	color: white;
	width: 230px;
	margin-top: 30px;
	padding: 10px 40px;
	border-radius: 20px;
	box-shadow: 6px 6px 6px grey;
	text-decoration: none;
	&:hover{
		color:white;
		background:lighten($color-secondary, 10%);
		box-shadow: darken( black, 20%);
	}
}
footer {
	width: 100%;
	background: #353535;
	color:white;
	padding: 20px 0 20px 0;
	h4 {
		font-size: 14px;
		font-family: 'Shrikhand', cursive;
	}
	p {
		font-size: 14px;
	}
}
.pflex {
	color:white;
	display: flex;
	justify-content: center;
	margin: 0 20px 0 20px;
		&:hover {
			color: $color-secondary;
		}
}
.fas {
	margin-right: 10px;
}
@media screen and (max-width: 1250px) {
	#conteneur1 {
		img {
			margin: 10px 0 -10px -40px;
			height: 25px;
		}
	}
	#corps {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	#image {
		width: 100%;
		img {
			margin: 0;
			width: 100%;
			max-height: 335px;
		}
	}
	#conteneur2 {
		width: 100%;
		margin-top: -60px;
		border-radius: 30px 30px 0px 0px;
		h6 {
			text-align: left;
			margin-left: 25px;
			font-size: 30px;
			font-weight: bold;
		}
		h2 {
			text-align: left;
			font-size: 18px;
			margin: 30px 0 80px 0;
		}
	}
	.far {
		margin-left: 70%;
	}
	.filtres2 {
		flex-wrap: wrap;
		width: 100%;
	}
	.partage {
		margin: 15px 0 10px 0;
		width: 95%;
		p {
			padding: 0 140px 0 5px;
			font-size: 15px;
			line-height: 20px;
		}
	}
	.prix {
		position: relative;
		margin: -30px 0 0 85%;
	}
	#bouton {
		margin-top: 110px;
	}
	.position {
		flex-direction: column;
		align-items: flex-start;
		line-height: 30px;
	}
	}