$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: black;
	&:hover {
		color: $color-secondary;
	}
}
.fa-heart {
    color: #eaeaea;
    background: white;
    border-radius: 50%;
	padding:0.7em;
}
.fa-heart::before {
    content: "";
    font-weight: bold;
}
.fa-heart:hover::before{
	background:linear-gradient(to right, $color-secondary, $color-primary);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	animation: fondu 1s ease-in-out;
}
  @keyframes fondu {
	0% { 
		opacity:0; 
	}
	50% { 
		opacity:0.5;
	}
	100% { 
		opacity:1;
	}
}
#logo{
	display: none;
}
.bouton1{
	background: #eaeaea;
}
input::placeholder{
    font-weight: bold;
    padding: 5px;
    font-weight: 600;
	color: black;
	text-align: center;
}
input:focus::placeholder{
	opacity: 10%;
}
input{
    border: 1px solid #eaeaea ;
}
#loading {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-top: 20px;
	border: 3px solid #137b85;
	border-radius: 50%;
	border-top-color:$color-tertiary;
	animation: rotation 4s ease-in-out forwards;
}
  @keyframes rotation {
	0% { 
		transform: rotate(0deg);
		opacity:1; 
	}
	100% { 
		transform: rotate(1260deg);
		opacity:0;
	}
}
.position {
	display: flex;
	justify-content: center;
	padding: 2%;
	a{ 
		color: white;
	}
	a:hover
	{
		color: $color-secondary;
	}
}
#conteneur1 {
	width: 100%;
	text-align: center;
}
h1 {
	font-size: 45px;
	font-family: 'Shrikhand', cursive;
}
.info {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 30px 0px 30px 0px;
	padding: 10px 0px 10px 0px;
	background: #eaeaea;
	.fas {
		margin: -2px 0 0 -30px;
		color: black;
	}
}
h2 {
	font-size: 30px;
	text-align: center;
}
h6 {
	font-size: 18px;
	font-weight: 100;
	text-align: center;
	padding-top: 10px;
}
h5{
	font-size: 14px;
	font-weight: 100;
	margin: -5px 0 0 10px;
}
article {
	margin-top: -30px;
	background: #F2F2F2;
	padding: 40px 0 30px 0;
	text-align: center;
}
#bouton {
	text-align: center;
	margin: 30px 0 30px 0;
	transform: scale(1);
	transition: transform 400ms; 
	&:hover{
		transform: scale(1.15);
	}
}
.explore {
	background:linear-gradient(to right, $color-secondary, $color-primary);
	color: white;
	font-size: 15px;
	width: 230px;
	margin-top: 30px;
	padding: 10px 20px;
	border-radius: 20px;
	box-shadow: 6px 6px 6px grey;
	text-decoration: none;
	&:hover{
			color:white;
			background:lighten( $color-secondary, 10%);
			box-shadow: 6px 6px 6px darken( grey, 20%);
	}
}
#conteneur2 {
	width: 100%;
	p {
		text-align: center;
	}
}
.filtres {
	margin: 30px 0 0 25px;
}
.filtres2 {
	display: flex;
	justify-content: space-around;
	margin: 20px 0 50px 0;
	p {
		font-size: 16px;
	}
}
.partage {
	.fas {
		position: absolute;
		color: grey;
		width: 50px;
		height: 50px;
		margin: 15px 0 0 40px;
		padding-top:3px;
		text-align: center;
		line-height: 45px;
		font-size: 18px;
	}
	p {
		border: 3px solid #F2F2F2;
		background: #F2F2F2;
		border-radius: 20px;
		box-shadow: 6px 6px 6px grey;
		padding: 20px 100px 20px 95px;
		margin-top: 5px;
		width: 425px;
	}
		&:hover {
			p {
			background: lighten($color-primary, 30);
			border: 3px solid lighten($color-primary, 30);
		}
			a{
				color:black;
		}
			.fas{
				color:$color-primary;
		}  
	}
}
.etape {
	position: absolute;
	background:$color-primary;
	color: white;
	margin: 27px 0 0 -10px;
	padding-top:3px;
	height: 25px;
	width: 25px;
	text-align: center;
	border-radius: 100px;
}
#conteneur3 {
	display: flex;
	overflow:hidden;
	background: #F2F2F2;
	padding: 40px 0 40px 0;
	h2 {
		text-align: center;
	}
}
#menu {
	margin: 10px 25px 10px 25px;
	border-radius: 10px;
	width: 100%;
}
.dFlex {
	display: flex;
	flex-wrap: nowrap;
}
.new {
	position: relative;
	padding: 5px 15px 5px 15px;
	margin: -70% 0 0 75%;
	color: green;
	font-weight: bold;
	background: #99E2D0;
}
.restaurant {
	margin: 2%;
	width: 33.33%;
	margin-left: -5px;
	border-radius: 10px;
	background: white;
	box-shadow: 6px 6px 6px grey;
	padding: 0 0 10px 0;
	animation: cartemenu 3s;
	.fas{
		font-size: 25px;
		margin-left:-15px;
	}
}
	@keyframes cartemenu{
		0%{
			transform:translateX(100px);
			opacity:0;
		}
		100%{
			transform:translateX(0px);
			opacity:1;
		}
	}
.menu1{
	animation: cartemenu 3s;
	animation-delay: 500ms;
}
	@keyframes cartemenu{
		0%{
			transform:translateX(100px);
			opacity:0;
		}
		100%{
			transform:translateX(0px);
			opacity:1;
		}
}
.menu2{
	animation: cartemenu 3s;
	animation-delay: 1000ms;
}
	@keyframes cartemenu{
		0%{
			transform:translateX(100px);
			opacity:0;
		}
		100%{
			transform:translateX(0px);
			opacity:1;
		}
}
.menu3{
	animation: cartemenu 3s;
	animation-delay: 1500ms;
}
	@keyframes cartemenu{
		0%{
			transform:translateX(100px);
			opacity:0;
		}
		100%{
			transform:translateX(0px);
			opacity:1;
		}
}
img {
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}
p {
	font-size: 18px;
	line-height: 25px;
	padding: 10px 0 10px 10px;
}	
.coeur {
	margin-top: -40px;
	width: 5%;
	padding-left: 85%;
}
footer {
	width: 100%;
	background: #353535;
	color:white;
	padding: 10px 0 10px 0;
	h4 {
		font-size: 14px;
		font-weight:500;
		font-family: 'Shrikhand', cursive;
		margin:13px 0 0 5px;
	}
	p {
		font-size: 14px;
	}
}
.pflex {
	color:white;
	display: flex;
	justify-content: center;
	align-items: baseline;
		&a:hover{
			color:$color-secondary;
		}
	.fas{
	font-size: 12px;
	padding-right:10px; }
}
@media screen and (max-width: 1250px) {
	.filtres2 {
		flex-wrap: wrap;
		width: 100%;
	}
	#menu {
		width: 90%;
	}
	#conteneur3 {
		h2 {
			text-align: left;
			padding-bottom: 10px;
		}
	}
	.position {
		flex-direction: column;
		align-items: flex-start;
	}
	.restaurant {
		height: 280px;
		margin:2%;
	}
	.restaurant {
		.fas{
			font-size: 25px;
			margin: 35px 0 0 -25px;
		}
	}
	.restaurant {
		.new{
			margin: -205px 0 0 100px;
		}
	}
	.partage {
		.fas {
			margin: 15px 0 0 30px;
		}
	}
	h4 {
		padding-bottom: 10px;
    }
	.coeur {
		padding-left: 80%;
	}
}
    @media screen and (max-width:950px) {	
		
	h1 {
		font-size: 28px;
		font-family: 'Shrikhand', cursive;
		padding-top:10px;
}
    h2 {
		font-size: 20px;
		margin-bottom: 15px;
}
    h6 {
        font-size: 14px;
}
	.new {
		margin: -220px 0 0 70%;
}
    .partage {
        display: table-column;
        margin: 2%;
            p {
                padding: 20px 140px 20px 75px;
			}
}
    #conteneur2 {
        h2 {
            text-align: left;
            }
}
    .dFlex {
		flex-direction: column;
}
    .restaurant {
        width: 95%;
        max-height: 280px;
        max-width: 550px;
		margin: 0 0 25px 10px;
            img {
                max-height: 200px;
                }
}
.restaurant {
	.fas{
		font-size: 25px;
		margin: -5px 0 0 -15px;
	}
}
.restaurant {
	.new{
		margin: -235px 0 0 300px;
	}
}
	h4{
		margin-left:10px;
}
.coeur {
	padding-left: 85%;
}
}
