* 
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; 
}
a 
{
  text-decoration: none;
  cursor: pointer;
  color: black; 
}
.position a
{
  color:white;
}
a:hover 
{
  color:#FF79DA;
}
#conteneur1 
{
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
#conteneur1 img
{
  height: 50px;
}
#image img
{
  margin:15%;
  width: 100%;
}
#image
{
  display: flex;
  width:75%;
  background: #F2F2F2;
}
#corps
{
  display:flex;
}
#conteneur2
{
  background:#F2F2F2;
  width:100%;
}
#conteneur2 h6
{
  text-align: center;
  font-size: 30px;
  font-family: Shrikhand,cursive;
  font-weight: bold;
  padding-top: 50px;
}
.far
{
  position:absolute;
  margin-left: 45%;
  margin-top: -25px;
}
#conteneur2 p
{
  text-align:left;
}
h2 
{
  margin-top: 90px;
  margin-left: 15%;
  font-size: 30px;
  text-align: left;
  text-decoration: underline #99E2D0;
}
.filtres 
{
  margin-top: 30px;
  margin-left: 25px;
}
.filtres2 
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -70px; 
}
.partage  
{
  justify-content: center;
  border: 3px solid white;
  background:white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 6px 6px 6px grey;
  margin-top: 30px;
  margin-left: 40%;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  width:40%;
}
.prix
{
  position: relative;
  margin-left: 76%;
  margin-top: -40px;
}
#conteneur3
{
background:#F2F2F2;
margin-top: -70px;
padding-top: 20px;
padding-bottom:80px;
}
#bouton
{
  text-align: center;
  margin-top: 10px;  
}
.explore
{
  background-color: #9356DC;
  color: white;
  width: 230px;
  margin-top: 30px;
  padding: 10px 40px;
  border-radius: 20px 20px 20px 20px;
  box-shadow:6px 6px 6px grey;
  text-decoration: none;   
}
footer 
{
  width: 100%;
  background:#353535;
  color:white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.position
{
  display: flex;
  justify-content: center;
  padding: 2%;
}
.pflex p
{
  color:white;
}
.pflex
{
  display:flex;
  justify-content: center;
  margin-right: 20px;
  margin-left: 20px;
} 
.fas 
{
  margin-right: 10px;
} 
footer h4 
{
  font-size: 14px;
  font-family: 'Shrikhand', cursive;
}
footer p 
{
  font-size: 14px;
}
@media screen and (max-width: 1250px) 
{
 #conteneur1 img
{
  margin-top: 10px;
  margin-bottom: -10px;
  height: 25px;
} 
#corps
{
  display: flex;
  flex-direction: column;
  width:100%;
}
#image
{
  width: 100%;
}
#image img
{
  margin:0;
  width: 100%;
}
#conteneur2
{
  width: 100%;
  margin-top:-60px;
  border-radius: 30px 30px 0px 0px;
}
#conteneur2 h6 
{
  text-align: left;
  margin-left: 25px;
  font-size: 30px;
  font-weight: bold;
}
.far
{
  margin-left: 70%;
}
#conteneur2 h2
{
  text-align: left;
  font-size: 18px;
  margin-top: 30px;
  margin-left: 0px;
  margin-bottom: 80px;
}
.filtres2 
{
   flex-wrap: wrap;
   width: 100%;  
}
.partage  
{
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 40px;
  width: 95%;

}
.partage p 
{
    padding-left: 5px;
    padding-right: 140px;
    font-size: 15px;
    line-height: 20px;
}
.prix
  {
    position: relative;
    margin-left: 85%;
    margin-top: -65px;
  }
#bouton
{
  margin-top: 110px;  
}
.position
{
  flex-direction: column;
  align-items: flex-start;
  line-height: 30px;
} 
}
